# =====================
# Python
# =====================
*.py[cod]
__pycache__/
*.so

# =====================
# Virtual Environment
# =====================
env/
venv/
ENV/
.venv/
.Python

# =====================
# Django/Migrations
# =====================
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py
*.db

# =====================
# Environment Variables
# =====================
.env
.env.*

# =====================
# IDE/editor config
# =====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================
# macOS/Windows/Linux system files
# =====================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =====================
# Node/NPM (jika pakai front-end tambahan)
# =====================
node_modules/
npm-debug.log
yarn-error.log
